




<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>个人网站：技术学习</title>
</head>

<style>
html {
	font-size: 16px;
}
</style>


<body>

<div style="margin-top: 5rem; width:20rem;margin-left:auto;margin-right:auto;text-align:center;">
<div style="font-size:1.5rem">个人网站：技术学习</div>

<ul style="list-style:none;text-align:left;">
<li>1.技术知识:spring boot + h5 + mysql</li>
<li>2.零售知识</li>
<li>3.管理知识</li>
</ul>
<div>ICP主体备案号：粤ICP备19029407号</div>
<div>腾讯云服务器</div>
</div>

</body>



</html>
