<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>


<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/knowledge/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "list", data:[[${list}]]});
});

template.helper('getType', function(v) {
	return $("[name=knowledgeType]:eq(0)").find("option[value=" + v + "]").text();
})

var getCallback = function(r) {
	$("#editknowledgeType").find("option[value='" + r.pojo.knowledgeType + "']").attr("selected",true);
}

function edit(id) {
	open(controllerPath + "edit?id=" + id);
}


function changeCat(id) {
	$("#changeCatTitle").html($("#title" + id).html());
	$("#changeCatImg").html($("#img" + id).html());
	$('#changeCat').modal('show');
	action = function() {
		showLoading();
		var catId = $("#changeCatId").val();
		$.post(controllerPath + "changeCat", {id:id, catId:catId}, function(r) {
			if (r.errcode === 0) {
				$("#pageDiv").query();
				$('#changeCat').modal('hide');
				alertSuccess();
			}
			else {
				alertWarning(r.errmsg);
				hideLoading();
			}
		});
	}
}
</script>
</head>

<body>
<div class="container-fluid">

<div id="pageDiv" th:include="common/fragment::page('基本信息')">
	<div th:fragment="query">
	
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<label>title：</label>
		<input type="text" class="form-control" name="kTitle">
		<label>cat：</label>
		<select name="catId" class="form-control">
			<option value="">全部 </option>
	    	<option th:each="item:${catList}" th:text="${item.catName}" th:value="${item.catId}"></option>
	    </select>
	    <label>recommend：</label>
		<select name="recommend" class="form-control">
			<option value="">全部 </option>
	    	<option value="5">5</option>
	    	<option value="4">4及以上</option>
	    	<option value="3">3及以上</option>
	    	<option value="-2">2及以上</option>
	    	<option value="-1">1</option>
	    </select>
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">ID</th>
			<th class="w-title">title</th>
			<th class="w-title">img</th>
			<th class="w-date">cat</th>
			<th class="w-id">recommend</th>
			<th class="w-time">修改时间</th>
			<th class="w-action">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.kId}}</td>
			<td id="title{{v.kId}}">{{v.kTitle}}</td>
			<td id="img{{v.kId}}">{{if v.mainImgSrc != null}}<img src="/img/{{v.mainImgSrc}}_100.jpg">{{/if}}</td>
			<td>{{v.catName}}</td>
			<td>{{v.recommend}}</td>
			<td>{{v.modified}}</td>
			<td>
				<a href="#this" onclick="changeCat('{{v.kId}}')">[更换类目]</a>
				<a href="#this" onclick="edit('{{v.kId}}')">[修改]</a>
				<a href="#this" onclick="remove('{{v.kId}}')">[删除]</a>
			</td>
		</tr>
	</table>
</div>

<div th:fragment="changeCat" th:replace="common/fragment::modal('changeCat', '修改分类', '')">
	<div class="form-group form-inline">
		<label class="col-4">title</label>
		<div class="col-8" id="changeCatTitle"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4">img</label>
		<div class="col-8" id="changeCatImg"></div>
	</div>
	<div class="form-group form-inline">
		<label class="col-4">cat：</label>
		<div class="col-8" class="form-control">
			<select id="changeCatId">
				<option th:each="item:${catList}" th:text="${item.catName}" th:value="${item.catId}"></option>
			</select>
		</div>
	</div>
</div>

</div>
</body>
</html>

