<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:replace="common/fragment::common"/>


<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/knowledge/";
$(function() {
	$("#pageDiv").page({url:controllerPath + "list", data:[[${list}]]});
});

template.helper('getType', function(v) {
	return $("[name=knowledgeType]:eq(0)").find("option[value=" + v + "]").text();
})

var getCallback = function(r) {
	$("#editknowledgeType").find("option[value='" + r.pojo.knowledgeType + "']").attr("selected",true);
}

function edit(id) {
	open(controllerPath + "edit?id=" + id);
}
</script>
</head>

<body>
<div class="container-fluid">

<div id="pageDiv" th:include="common/fragment::page('基本信息')">
	<div th:fragment="query">
	
		<button type="button" class="btn btn-success btn-sm" onclick="add()">新增</button>
		<label>名称：</label>
		<input type="text" class="form-control" name="knowledgeName">
		<button type="button" class="btn btn-default btn-sm"><i class="fa fa-search"></i>搜索</button>
	</div>
	<table th:fragment="list">
		<thead class="thead-light">
		<tr>
			<th class="w-id">ID</th>
			<th class="w-title">title</th>
			<th class="w-title">img</th>
			<th class="w-date">cat</th>
			<th class="w-id">recommend</th>
			<th class="w-time">创建时间</th>
			<th class="w-action">操作</th>
		</tr>
		</thead>
		<tbody></tbody>
	</table>
	<table>
		<tr th:fragment="template">
			<td>{{v.kId}}</td>
			<td>{{v.kTitle}}</td>
			<td>{{if v.mainImgSrc != null}}<img src="/img/{{v.mainImgSrc}}_100.png">{{/if}}</td>
			<td>{{v.catName}}</td>
			<td>{{v.recommend}}</td>
			<td>{{v.created}}</td>
			<td>
				<a href="#this" onclick="remove('{{v.kId}}')">[删除]</a>
				<a href="#this" onclick="edit('{{v.kId}}')">[修改]</a>
			</td>
		</tr>
	</table>
</div>



</div>
</body>
</html>

