
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link th:replace="common/fragment::mobile"/>


<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/knowledge/";

// >>>>>>>>>>>>>>>>>>>>>>img
var img = {};
var IMG_SCALE_HEIGHT = 60;
img.fileChange = function(obj) {
	this.loadImg(obj.files, obj.files.length);
	// 重新生成一个，防失效
	$(obj).prop("outerHTML", $(obj).prop("outerHTML"));
}
img.loadImg = function(f, n) {
	n--;
	var reader = new FileReader();
	reader.onload = function() {
		var jObj = $($("#imgTemplate").html());
		var imgObj = jObj.find(".upload-img");
		
		
		
		//alert(this.result)
		
		imgObj.prop("src", this.result);
		imgObj.data("file", f[n]);
		$("#imgLi").after(jObj);
		if (n > 0) img.loadImg(f, n);
		else {
			$(".to-top").show();
			$(".to-top:eq(0)").hide();
		}
	}
	reader.readAsDataURL(f[n]);
}
img.resize = function(img) {
	$(img).prop("onload", "");
	var initWidth = img.width;
	var initHeight = img.height;
	$(img).data("data-init-width", initWidth);
	$(img).data("data-init-height", initHeight);
	$(img).data("data-init-boolean", true);
	
	if (initWidth < initHeight) {
		$(img).css({width:IMG_SCALE_HEIGHT * initWidth / initHeight, height:IMG_SCALE_HEIGHT});
	}
	else {
		$(img).css({width:IMG_SCALE_HEIGHT, height:IMG_SCALE_HEIGHT * initHeight / initWidth});
	}
	$(".upload-img").show();
}

img.zip = function(thisImg) {
	var canvas = document.createElement("canvas");
    var context = canvas.getContext("2d");
    context.drawImage(thisImg, 0, 0, thisImg.width, thisImg.height, 0, 0, thisImg.width, thisImg.height);
	$(thisImg).prop("src", canvas.toDataURL('image/jpeg', 0.3));
	$(thisImg).prop("onload", img.resize(thisImg));
	
}

img.click = function(obj) {
	var isInit = $(obj).data("data-init-boolean");
	 $(obj).data("data-init-boolean", isInit ? false : true);
	
	var initWidth = new Number($(obj).data("data-init-width"));
	var initHeight = new Number($(obj).data("data-init-height"));
	
	if (isInit) {
		$(obj).css({position:"fixed", left:$(obj).offset().left, top:$(obj).offset().top});
		
		var w = $(obj).parents(".list-group-item").width();
		if (w >= initWidth) {
			$(obj).css({width:initWidth, height:initHeight});
		}
		else {
			$(obj).css({width:w, height:w*initHeight/initWidth});
		}
	}
	else {
		if (initWidth < initHeight) {
			$(obj).css({position:"", width:IMG_SCALE_HEIGHT * initWidth / initHeight, height:IMG_SCALE_HEIGHT});
		}
		else {
			$(obj).css({position:"", width:IMG_SCALE_HEIGHT, height:IMG_SCALE_HEIGHT * initHeight / initWidth});
		}
	}
}
img.remove = function(obj) {
	$(obj).parent().remove();
	$(".to-top").show();
	$(".to-top:eq(0)").hide();
}
img.top = function(obj) {
	$("#imgLi").after($(obj).parent());
	$(".to-top").show();
	$(".to-top:eq(0)").hide();
}


function upload(files) {
	var formData = new FormData();
	formData.append("module", "idea");
	 $(".upload-img").each(function() {
		formData.append("file", $(this).data("file"));
	});
	
	showLoading();
	$.ajax({url:[[@{/auto/uploadImg/uploadKnowledge}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r) {
			if (r.errcode === 0) {
				saveKnowledge(r.list);
			}
			else {
				alertDanger(r.value);
			}
		}
	})
}

function saveKnowledge(srcList) {
	if (!$("[name=kTitle]").val()) {
		 $("[name=kTitle]").val($("[name=kTitle]").prop("placeholder"));
	}
	$("[name=recommend]").val($("#recommend .starShow").length);
	var imgSrc = "&imgSrc=" + srcList.join(",");
	
	$.post(controllerPath + "insert", $("#addForm").serialize() + imgSrc, function(r) {
		if (r.errcode === 0) {
			alertSuccess();
			hideLoading();
		}
	});
}

function ok() {
	var imgLen = $(".upload-img").length;
	if (imgLen != 0) {
		upload();
	}
	else {
		saveKnowledge([]);
	}
}


</script>

<style type="text/css">
.fa-star {color:orange;}
</style>
</head>

<body>

<div class="container">


<script id="imgTemplate" type="text/html">
<li class="list-group-item d-flex align-items-center">
	<div style="width:60px;height:60px"><img class="upload-img" style="display:none" onload="img.zip(this)" onclick="img.click(this)"></div>
	<span class="badge badge-dark" style="margin-left:15px;padding:8px" onclick="$(this).parent().find('img').click()"><i class="fa fa-search-plus"></i>放大</span>
	<span class="badge badge-dark" style="margin-left:15px;padding:8px" onclick="img.remove(this)"><i class="fa fa-close"></i>删除</span>
	<span class="badge badge-dark to-top" style="margin-left:15px;padding:8px;display:none" onclick="img.top(this)"><i class="fa fa-caret-up"></i>置顶</span>
</li>
</script>

<script>

$(function() {
	$("#recommend span").click(function() {
		$("#recommend b").removeClass("starHide");
		$("#recommend b").addClass("starShow");
		$(this).nextAll().each(function(i, o) {
			$(o).find("b").removeClass("starShow");
			$(o).find("b").addClass("starHide");
		})
	});
})

</script>

<div class="panel panel-default">
<form id="addForm">
<input type="hidden" name="recommend">
<ul class="list-group" id="imgUL">
    <li class="list-group-item">
    	<div class="row">
    		<label class="col-form-label col-3">title</label>
    		<input class="form-control col-7" type="text" name="kTitle" placeholder="无">
    	</div>
    </li>
    <li class="list-group-item">
   		<div class="row">
	    	<label class="col-form-label col-3">category</label>
	    	<select class="form-control col-7" name="catId">
	    		<option th:each="item:${catList}" th:text="${item.catName}" th:value="${item.catId}"></option>
	    	</select>
    	</div>
    </li>
    <li class="list-group-item" style="display: none">
    	<div class="row">
	    	<label class="col-form-label col-3">recommend</label>
	    	<div id="recommend" class="col-form-label col-7" style="display:flex;justify-content:space-between;">
	    		<style>
	    		.star {
	    			border:1px solid rgba(0,0,0,.125);
	    			cursor: pointer;
	    		}
	    		.starShow {visibility:visible}
	    		.starHide {visibility:hidden}
	    		</style>
		    	<span class="star"><b>⭐</b></span>
		    	<span class="star"><b>⭐</b></span>
		    	<span class="star"><b>⭐</b></span>
		    	<span class="star"><b class="starHide">⭐</b></span>
		    	<span class="star"><b class="starHide">⭐</b></span>
		    	
	    	</div>
    	</div>
    </li>
	<li class="list-group-item" id="imgLi">
		<input type="file" multiple="multiple" accept="image/*" onchange="img.fileChange(this)" style="display:none">
		<a href="#" onclick="$(this).prev().click()">images</a>
	</li>
	<li class="list-group-item">
		<button type="button" class="btn btn-primary btn-sm" onclick="ok()">确认提交</button>
	</li>
</ul>
</form>


</div>

</div>
</body>
</html>

