<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<script type="text/javascript">
document.getElementsByTagName('html')[0].style.fontSize=window.screen.width/(7.5*3.45)+'px';
// 宽：25.875rem  25.875/2=12.9375
</script>

<link th:replace="common/fragment::mobile"/>
<script th:src="@{/static/cdn/template-3.0.0.js}"  type="text/javascript" ></script>


<script type="text/javascript" th:inline="javascript">

var controllerPath = contextPath + "auto/knowledge/";



$(function() {
	var list = [[${list}]];
	$("#knowDiv").append(template("itemTemplate", list));
});

function view(kId) {
	top.location.href = controllerPath + "mViewKnowledge?id=" + kId;
}

</script>

<style type="text/css">
#knowDiv {
	border:1px solid red;display:flex;justify-content:space-between;flex-wrap:wrap;
}
.know-item-div {
	border:1px solid green;background-color:white;margin:0.2rem 0rem;
}
.know-img {
	max-width:100%;max-height:100%;
}
.know-img-div {
	width:12rem;height:12rem;border:1px solid gray;display:table-cell;vertical-align:middle;text-align:center;
}
.know-title {
	width:12rem;display:-webkit-box !important; overflow:hidden;-webkit-line-clamp:1;-webkit-box-orient:vertical;
}
</style>
</head>

<body style="margin-top: 3rem;margin-bottom: 3rem;">
<script id="itemTemplate" type="text/html">
{{each list as v i}}
<div class="know-item-div" onclick="view({{v.kId}})">
	<div class="know-img-div"><img src="/img/{{v.mainImgSrc}}_100.jpg" class="know-img"></div>
	<div class="know-title">{{v.kTitle}}</div>
</div>
{{/each}}
</script>



<div style="position:fixed;top: 0;width:100%; background-color:#f0f0f0;padding:.2rem 0">
<div style="display:flex;justify-content:space-between; padding-left:0.5rem;padding-right:0.5rem;font-size: 0.825rem">
	<div style="width:100%">
		<form id="form">
		<input type="search" name="title" class="form-control" style="width:100%" placeholder="🔍">
		</form>
	</div>
</div>
</div>

<script>
$('#form').submit(function (e) {
    e.preventDefault();
    e.stopPropagation();
    alert(1);
 })
</script>


<div id="knowDiv">
	
</div>















<div>
	<div class="page-bottom" id="pageMore" style="display: none;">
        <p style="text-align: center;">-- 上拉加载更多 --</p>
    </div>
    <div class="page-bottom" id="bottomLoading" style="display: none">
        <p style="text-align: center;">-- loading --</p>
    </div>
    <div class="page-bottom" id="pageEnd" style="display: none">
        <p style="text-align: center;">-- 我是有底线的 --</p>
    </div>
</div> 


<script type="text/javascript">

var hasMore = true;
var currentPageNumber = 1;

$(window).scroll(function() {
    var scrollTop = $(this).scrollTop();
    var scrollHeight = $(document).height();
    var clientHeight = $(this).height();
  	// 距离顶部+当前高度 >=文档总高度 即代表滑动到底部 注：-50 上拉加载更灵敏
  	
    if (scrollTop + clientHeight >= scrollHeight - 50) {   
    	// 加载数据
    	if (hasMore) {
    		currentPageNumber++;
    		hasMore = false;
    		more();
    	}
    }
});

function more() {
	$(".page-bottom").hide();
	$("#bottomLoading").show();
	$.post(controllerPath + "/mList", {pageNumber:currentPageNumber}, function(r) {
		$("#knowDiv").append(template("itemTemplate", r));
		$(".page-bottom").hide();
		if (r.page.pageSize * r.page.pageNumber < r.page.totalRows) {
			hasMore = true;
			$("#pageMore").show();
		}
		else {
			$("#pageEnd").show();
		}
	});
}
</script>








<link th:replace="repository/knowledge/knowledge/menu::nav('homeMenu')"/>

</body>
</html>















