<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>个人知识库</title>
<link th:replace="common/fragment::mobile"/>
<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/mobile/";

function getQueryString(pageNumber) {
	return {pageNumber:pageNumber, catId:$("#catId").val(), word:$("#word").val(), orderBy:$("#orderBy").val()};
}

$(function() {
	$('#form').submit(function (e) {
		queryPage(1);
	    e.preventDefault();
	    e.stopPropagation();
	 })
});

function orderBy(val, obj) {
	$(".order-item").css("color", "black");
	$(".order-yes").text("");
	
	$(obj).css("color", "#f40");
	$(obj).find(".order-yes").text("✔");
	$("#orderBy").val(val);
	$("#orderName").text($(obj).find(".order-name").text());
	queryPage(1);
}
function catSearch(val, obj) {
	$(".cat-item").css("color", "black");
	$(".cat-yes").text("");
	
	$(obj).css("color", "#f40");
	$(obj).find(".cat-yes").text("✔");
	$("#catId").val(val);
	$("#catName").text($(obj).find(".cat-name").text());
	queryPage(1);
}		
</script>

<style type="text/css">
body {margin-top:2.75rem;margin-bottom:3rem;font-size:0.865rem;}
.top-div {position:fixed;top:0;background-color:#f0f0f0;padding:.2rem 0;width:25.875rem;}
.top-div>div {display:flex;justify-content:space-between; padding-left:0.5rem;padding-right:0.5rem;}
input::-webkit-input-placeholder {padding-top:0.175rem;}
.dropdown-item {display: flex;justify-content:space-between;}
</style>
</head>

<body>
<div class="top-div">
<div>
	<div class="nav-item dropdown">
		<input type="hidden" id="orderBy" value="0">
	    <a id="orderName" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#f40;">最新</a>
	    <div class="dropdown-menu" style="min-width:24.875rem;">
	    	<a href="#" class="dropdown-item order-item" style="color:#f40;" onclick="orderBy(0, this)">
	    		<span href="#" class="order-name">最新</span><span class="order-yes">✔</span>
	    	</a>
	    	<a href="#" class="dropdown-item order-item" onclick="orderBy(1, this)">
	    		<span href="#" class="order-name">推荐</span><span class="order-yes"></span>
	    	</a>
	    </div>
    </div>
    <div class="nav-item dropdown">
		<input type="hidden" id="catId">
	    <a id="catName" class="nav-link dropdown-toggle ellipsis" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#f40;max-width:10rem">全部类目</a>
	    <div class="dropdown-menu" style="min-width:15rem;">
	    	<a href="#" class="dropdown-item cat-item" style="" onclick="catSearch('', this)">
	    		<span href="#" class="cat-name" >全部类目</span><span class="cat-yes">✔</span>
	    	</a>
	    	<a th:each="item:${catList}" href="#" class="dropdown-item cat-item" th:onclick="'catSearch(' + ${item.catId} + ', this)'">
	    		<span href="#" class="cat-name" th:text="${item.catName}"></span><span class="cat-yes"></span>
	    	</a>
	    </div>
    </div>
	<div>
		<form id="form" style="width:10rem;" action="javascript:;">
			<input type="search" id="word" class="form-control" placeholder="🔍">
		</form>
	</div>
</div>
</div>
<div id="knowDiv"></div>
<div th:replace="common/fragment::mobileKnowPage"></div>
<div th:replace="repository/mobile/mobile/menu::nav('homeMenu')"></div>

</body>
</html>



