
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

<link th:replace="common/fragment::mobile"/>

<link th:src="@{/static/markdown/tribute.css}" rel="stylesheet"/>
<script th:src="@{/static/markdown/tribute.min.js}" type="text/javascript"></script>

 <style>
.tribute-container {position:absolute;top 0;left:0;height auto;max-height:300px;max-width:500px;overflow:auto;display:block;z-index:999999;}
.tribute-container ul {margin:0;margin-top:2px;padding:0;list-style:none;background: #efefef;}
.tribute-container li {padding:5px 5px;cursor:pointer;}
.tribute-container li.highlight {background:#ddd;}
.tribute-container li span {font-weight:bold;}
.tribute-container li.no-match {cursor:default;}
.tribute-container .menu-highlighted {font-weight:bold;}
</style>

<script type="text/javascript" th:inline="javascript">

var controllerPath = contextPath + "auto/mobile/";

// >>>>>>>>>>>>>>>>>>>>>>img
var img = {};
var IMG_SCALE_HEIGHT = 60;
img.fileChange = function(obj) {
	this.loadImg(obj.files, obj.files.length);
	// 重新生成一个，防失效
	$(obj).prop("outerHTML", $(obj).prop("outerHTML"));
}
img.loadImg = function(f, n) {
	n--;
	var reader = new FileReader();
	reader.onload = function() {
		var tmpImg = new Image();
		tmpImg.onload = function() {
			var canvas = document.createElement("canvas");
			canvas.width = this.width;
		    canvas.height = this.height;
		    var context = canvas.getContext("2d");
		    context.drawImage(this, 0, 0, this.width, this.height, 0, 0, this.width, this.height);
		    var newSrc = canvas.toDataURL('image/jpeg', 0.2);
		    
		    var jObj = $($("#imgTemplate").html());
			var imgObj = jObj.find(".upload-img");
		    imgObj.attr("src", newSrc);
			imgObj.data("mFile", dataURLtoFile(newSrc));
			$("#imgEndLi").before(jObj);
			if (n > 0) {
				img.loadImg(f, n);
			}
			else {
				img.refreshTop();
			}
		}
		tmpImg.src = this.result;
	}
	reader.readAsDataURL(f[n]);
}

function dataURLtoFile(dataurl) {
	var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
	bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
	while(n--){
		u8arr[n] = bstr.charCodeAt(n);
	}
	return new Blob([u8arr], {type:mime});
}
img.resize = function(img) {
	var initWidth = img.width;
	var initHeight = img.height;
	$(img).data("data-init-width", initWidth);
	$(img).data("data-init-height", initHeight);
	$(img).data("data-init-boolean", true);
	
	if (initWidth < initHeight) {
		$(img).css({width:IMG_SCALE_HEIGHT * initWidth / initHeight, height:IMG_SCALE_HEIGHT});
	}
	else {
		$(img).css({width:IMG_SCALE_HEIGHT, height:IMG_SCALE_HEIGHT * initHeight / initWidth});
	}
	$(".upload-img").show();
}
img.click = function(obj) {
	var isInit = $(obj).data("data-init-boolean");
	 $(obj).data("data-init-boolean", isInit ? false : true);
	
	var initWidth = new Number($(obj).data("data-init-width"));
	var initHeight = new Number($(obj).data("data-init-height"));
	
	if (isInit) {
		$(obj).css({position:"fixed", left:0, top:0});
		
		var w = $(obj).parents(".list-group-item").width();
		if (w >= initWidth) {
			$(obj).css({width:initWidth, height:initHeight});
		}
		else {
			$(obj).css({width:w, height:w*initHeight/initWidth});
		}
	}
	else {
		if (initWidth < initHeight) {
			$(obj).css({position:"", width:IMG_SCALE_HEIGHT * initWidth / initHeight, height:IMG_SCALE_HEIGHT});
		}
		else {
			$(obj).css({position:"", width:IMG_SCALE_HEIGHT, height:IMG_SCALE_HEIGHT * initHeight / initWidth});
		}
	}
}
img.refreshTop = function() {
	$(".to-top").show();
	if ($(".to-top:eq(0)").parent().prev().attr("id") == "imgLi") {
		$(".to-top:eq(0)").hide();
	}
}
img.remove = function(obj) {
	$(obj).parent().remove();
	this.refreshTop();
}
img.top = function(obj) {
	$("#imgLi").after($(obj).parent());
	this.refreshTop();
}

function upload(files) {
	var formData = new FormData();
	 $(".upload-img").each(function() {
		if (!$(this).attr("data-url")) {
			formData.append("mFile", $(this).data("mFile"));
			if ($(this).parent().parent().find(".to-top").css("display") == "none") {
				formData.append("isMain", 1);
			}
			else {
				formData.append("isMain", 0);
			}
		}
	});
	
	showLoading();
	$.ajax({url:[[@{/auto/uploadImg/uploadKnowledge}]], type:"POST", contentType:false, data:formData ,processData:false,
		success:function(r) {
			if (r.errcode === 0) {
				var imgIndex = 0;
				$(".upload-img").each(function(i, o) {
					var dataUrl = $(this).attr("data-url");
					if (!dataUrl) {
						$(this).attr("data-url", r.list[imgIndex++]);
						$(this).parent().parent().find(".to-top").remove();
					}
				})
				insertOrUpdateKnowledge();
			}
			else {
				alertDanger(r.errmsg);
			}
		}
	})
}

function insertOrUpdateKnowledge() {
	if (!$("#kTitle").val()) {
		 $("[name=kTitle]").val($("[name=kTitle]").prop("placeholder"));
	}
	else {
		 $("[name=kTitle]").val(getUspTitle());
	}
	$("[name=recommend]").val($("#recommend .star-show").length);
	
	var srcList = [];
	$(".upload-img").each(function(i, o) {
		srcList.push($(this).attr("data-url"));
	})
	var imgSrc = "&imgSrc=" + srcList.join(",");
	
	if (initkContent == $("#kContent").val()) {
		$("[name=kContent]").val("");
	}
	else {
		$("[name=kContent]").val($("#kContent").val());
	}
	
	$("[name=uspIds]").val(getUspIdArray().join(","));
	
	$.post(controllerPath + "insertOrUpdate", $("#addForm").serialize() + imgSrc, function(r) {
		if (r.errcode === 0) {
			alertSuccess();
			hideLoading();
			
			$("[name=kId]").val(r.kId);
			$("#actionHint").html("修改");
		}
	});
}

function ok() {
	var imgUploadLen = 0;
	// 根据官方的建议：具有 true 和 false 两个属性的属性，如 checked, selected 或者 disabled 使用prop()，其他的使用 attr()
	$(".upload-img").each(function() {
		imgUploadLen = $(this).attr("data-url") ? imgUploadLen : ++imgUploadLen;
	})
	
	if (imgUploadLen != 0) {
		upload();
	}
	else {
		insertOrUpdateKnowledge();
	}
}

function refreshRecommend() {
	$("#recommend span").click(function() {
		$("#recommend b").removeClass("star-hide");
		$("#recommend b").addClass("star-show");
		$(this).nextAll().each(function(i, o) {
			$(o).find("b").removeClass("star-show");
			$(o).find("b").addClass("star-hide");
		})
	});
}

var initkContent;
var uspList = [[${uspList}]];
$(function() {
	var kTitle = [[${pojo.kTitle}]];
	if (kTitle) {
		$("#kTitle").val(getEmojiTitle(kTitle));
	}
	
	
	refreshRecommend();
	initkContent = [[${initContent}]];
	
	var tribute = new Tribute({
		values: uspList,
	 	selectTemplate: function(item) {
	  		if (typeof item === "undefined") return null;
	   		if (this.range.isContentEditable(this.current.element)) {return "html";}
	 		return "@" + item.original.value;
	 	}
	});
	tribute.attach(document.getElementById("kTitle"));
})

function resetForm() {
	$("[name=kTitle]").val("");
	$("#kContent").val(initkContent);
	$(".upload-img").parent().parent().remove();
	s
	$("#recommend").html('<span class="star"><b>⭐</b></span><span class="star"><b>⭐</b></span><span class="star"><b>⭐</b></span>' +
			'<span class="star"><b class="star-hide">⭐</b></span><span class="star"><b class="star-hide">⭐</b></span>');
	refreshRecommend();
	
	$("[name=kId]").val("");
	$("#actionHint").html("新增");
}

function gotoView() {
	var kId = [[${pojo.kId}]];
	location.href = [[@{/auto/mobile/view}]] + "?id=" + kId;
}

function getUspIdArray() {
	var title = $("#kTitle").val();
	var uspArray = [];
	for (i in uspList) {
		if (title.indexOf(uspList[i].key) >= 0 && uspArray.indexOf(uspList[i].uspId) == -1) {
			uspArray.push(uspList[i].uspId);
		}
	}
	return uspArray;
}

function getUspTitle() {
	var title = $("#kTitle").val();
	for (i in uspList) {
		title = title.replace(new RegExp(uspList[i].key,"g"), "${" + uspList[i].uspId + "}");
	}
	return title;
}
function getEmojiTitle(title) {
	for (i in uspList) {
		title = title.replace(new RegExp("\\$\\{" + uspList[i].uspId + "\\}", "g"), uspList[i].key);
	}
	return title;
}
</script>

<style type="text/css">
.star {border:1px solid rgba(0,0,0,.125);cursor: pointer;}
.star-show {visibility:visible}
.star-hide {visibility:hidden}
.badge-dark {margin-left:2rem;padding:0.5rem;}
</style>

</head>
<body>
<div class="container">

<div class="panel panel-default">
<form id="addForm">
<input type="hidden" name="kId" th:value="${pojo.kId}">
<input type="hidden" name="kTitle">
<input type="hidden" name="recommend">
<input type="hidden" name="kContent">
<input type="hidden" name="uspIds">
<ul class="list-group" id="imgUL">
    <li class="list-group-item">
    	<div class="row">
    		<input class="form-control" type="text" id="kTitle" placeholder="无" th:value="${pojo.kTitle}" maxlength="32">
    	</div>
    </li>
    <li class="list-group-item">
   		<div class="row" >
	    	<select class="form-control" name="catId">
	    		<option th:each="item:${catList}" th:text="${item.catName}" th:value="${item.catId}" th:selected="${item.catId == pojo.catId}"></option>
	    	</select>
    	</div>
    </li>
    <li class="list-group-item">
    	<div class="row">
	    	<div id="recommend" class="col-form-label col-12" style="display:flex;justify-content:space-between;">
		    	<span class="star" th:each="item:${starList}"><b class="star-show">⭐</b></span>
		    	<span class="star" th:each="item:${noStarList}"><b class="star-hide">⭐</b></span>
	    	</div>
    	</div>
    </li>
    <li class="list-group-item">
    	<div class="row">
			<textarea id="kContent" rows="5" class="form-control" th:text="${pojo.kContent}"></textarea>
    	</div>
    </li>
	<li class="list-group-item" id="imgLi" style="display:flex;justify-content:space-between;">
		<input type="file" multiple="multiple" accept="image/*" onchange="img.fileChange(this)" style="display:none">
		<a href="#" onclick="$(this).prev().click()">选择图片</a>
		<a href="javascript:resetForm()">重新新增</a>
		<a href="javascript:gotoView()">查看</a>
		<button type="button" class="btn btn-primary btn-sm" onclick="ok()">确认<span id="actionHint" th:text="${pojo.kId == null} ? '新增' : '修改'"></span></button>
	</li>
	<li th:each="item,iterStat:${imgList}" class="list-group-item d-flex align-items-center">
		<div style="width:3.75rem;height:3.75rem"><img th:src="'/img/' + ${item}" th:attr="data-url=${item}" class="upload-img" style="display:none" onload="img.resize(this)" onclick="img.click(this)"></div>
		<span class="badge badge-dark btn" onclick="$(this).parent().find('img').click()">🔍放大</span>
		<span class="badge badge-dark btn" onclick="img.remove(this)">✖删除</span>
	</li>
	<li class="list-group-item" id="imgEndLi" style="display: none"></li>
</ul>
</form>
<script id="imgTemplate" type="text/html">
	<li class="list-group-item d-flex align-items-center">
		<div style="width:3.75rem;height:3.75rem"><img class="upload-img" style="display:none" onload="img.resize(this)" onclick="img.click(this)"></div>
		<span class="badge badge-dark btn" onclick="$(this).parent().find('img').click()">🔍放大</span>
		<span class="badge badge-dark btn" onclick="img.remove(this)">✖删除</span>
		<span class="badge badge-dark btn to-top" style="display:none;" onclick="img.top(this)">🔝置顶</span>
	</li>
	</script>
</div>
</div>

<div th:replace="repository/mobile/mobile/menu::nav('insertMenu')"></div>

</body>
</html>

