
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>个人知识库</title>
<link th:replace="common/fragment::mobile"/>

<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/mobile/";

$(function() {
	
})

</script>

<style type="text/css">
.row {padding-left:0.8rem;padding-right:0.8rem}
</style>

</head>
<body>
<div class="container" style="padding:0px">

<div class="panel panel-default">
<ul class="list-group" id="imgUL">
    <li class="list-group-item">
    	<div class="row" style="height:5rem;">
    		<div style="display: flex;align-items:center;">
    			<div style="font-size: 3rem">🤡</div>
    			<div style="margin-left:0.5rem" th:text="${u.repoUserName}">我是小丑</div>
    		</div>
    	</div>
    </li>
    <li class="list-group-item" onclick="location.href='/auto/mobile/favorite'" style="cursor: pointer;">
   		<div class="row" style="display: flex;justify-content:space-between;">
	    	<div>我的收藏</div><div style="color:gray;font-size:0.815rem;"><span style="padding-right:.5rem;" th:text="${u.favoriteN}"></span><span style="font-size:0.815rem;" class="iconfont icon-xiangyou"></span></div>
    	</div>
    </li>
    <li class="list-group-item" onclick="location.href='/auto/mobile/myKnow'" style="cursor: pointer;">
    	<div class="row" style="display: flex;justify-content:space-between;">
    		<div>我的知识</div><div style="color:gray;font-size:0.815rem;"><span style="font-size:0.815rem;" class="iconfont icon-xiangyou"></span></div>
    	</div>
    </li>
</ul>
</div>
</div>



<div th:replace="repository/mobile/mobile/menu::nav('myMenu')"></div>



</body>
</html>

