
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

<link th:replace="common/fragment::mobile"/>





<script type="text/javascript" th:inline="javascript">

var controllerPath = contextPath + "auto/mobile/";

$(function() {
	
})

</script>

<style type="text/css">

</style>

</head>
<body>
<div class="container">

<div class="panel panel-default">

<ul class="list-group" id="imgUL">
	
    <li class="list-group-item">
    	<div class="row" style="height:5rem;display: flex;align-items:center;">
    		<div><span style="font-size: 3rem">🤡</span>我是佰生人</div>
    	</div>
    </li>
    <li class="list-group-item" onclick="location.href='/auto/mobile/myKnow'" style="cursor: pointer;">
    	<div class="row" style="display: flex;justify-content:space-between;">
    		<div>我的知识</div><div>></div>
    	</div>
    </li>
    <li class="list-group-item" onclick="location.href='/auto/mobile/favorite'" style="cursor: pointer;">
   		<div class="row" style="display: flex;justify-content:space-between;">
	    	<div>我的收藏</div><div>></div>
    	</div>
    </li>
    
	
</ul>
</div>
</div>



<div th:replace="repository/mobile/mobile/menu::nav('myMenu')"></div>




</body>
</html>

