<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>个人知识库</title>
<link th:replace="common/fragment::mobile"/>
<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/mobile/";
var searchMethod = "myKnowSearch";

function getQueryString(pageNumber) {
	return {pageNumber:pageNumber, catId:$("#catId").val()};
}

function back() {
	location.href = "/auto/mobile/my";
}

function catSearch(val, obj) {
	$(".cat-item").css("color", "black");
	$(".cat-yes").text("");
	
	$(obj).css("color", "#f40");
	$(obj).find(".cat-yes").text("✔");
	$("#catId").val(val);
	$("#catName").text($(obj).find(".cat-name").text());
	queryPage(1);
}
</script>

<style type="text/css">
body {margin-top:2.75rem;margin-bottom:3rem}
.top-div {position:fixed;top:0;background-color:#f0f0f0;padding:.2rem 0;width:25.875rem;display:flex;justify-content:space-between; padding-left:0.5rem;padding-right:0.5rem;}
input::-webkit-input-placeholder {padding-top:0.175rem;}


</style>
</head>

<body>

<div class="top-div">
	<div style="position:fixed; z-index:9999;opacity:0.5;margin-top:-0.4rem;margin-left:0.4rem;cursor:pointer;" id="backDiv">
		<div onclick="back();" style=""><span style="font-size: 2.2rem;" class="iconfont icon-fanhui5"></span></div>
	</div>
	
	<div></div>
	<div class="nav-item dropdown">
		<input type="hidden" id="catId" value="0">
	    <a id="catName" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#f40;max-width:12.1rem">全部类目</a>
	    <div class="dropdown-menu" style="min-width:15rem;font-size:0.865rem;">
	    	<a href="#" class="dropdown-item cat-item" style="display: flex;justify-content:space-between;color:#f40" onclick="catSearch('', this)">
	    		<span href="#" class="cat-name" >全部类目</span><span class="cat-yes">✔</span>
	    	</a>
	    	<a th:each="item:${catList}" href="#" class="dropdown-item cat-item" style="display: flex;justify-content:space-between;" th:onclick="'catSearch(' + ${item.catId} + ', this)'">
	    		<span href="#" class="cat-name" th:text="${item.catName}"></span><span class="cat-yes"></span>
	    	</a>
	    </div>
    </div>
</div>
<div id="knowDiv"></div>
<div th:replace="common/fragment::mobileKnowPage"></div>

</body>
</html>












