<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>个人知识库</title>
<link th:replace="common/fragment::mobile"/>
<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/mobile/";
var searchMethod = "niceSearch";
function getQueryString(pageNumber) {
	return {pageNumber:pageNumber, uspId:$("#uspId").val(), recommend:$("#recommend").val()};
}

function uspSearch(val, obj) {
	$(".usp-item").css("color", "black");
	$(".usp-yes").text("");
	
	$(obj).css("color", "#f40");
	$(obj).find(".usp-yes").text("✔");
	$("#uspId").val(val);
	$("#uspName").text($(obj).find(".usp-name").text());
	queryPage(1);
}

function recommendSearch(val, obj) {
	$(".recommend-item").css("color", "black");
	$(".recommend-yes").text("");
	
	$(obj).css("color", "#f40");
	$(obj).find(".recommend-yes").text("✔");
	$("#recommend").val(val);
	$("#recommendName").text($(obj).find(".recommend-name").text());
	queryPage(1);
}
</script>

<style type="text/css">
body {margin-top:2.75rem;margin-bottom:3rem}
.top-div {position:fixed;top:0;background-color:#f0f0f0;padding:.2rem 0;width:25.875rem;display:flex;justify-content:space-between; padding-left:0.5rem;padding-right:0.5rem;}
input::-webkit-input-placeholder {padding-top:0.175rem;}

.dropdown-item {display: flex;justify-content:space-between;}
</style>
</head>

<body>
<div class="top-div">
    <div class="nav-item dropdown">
		<input type="hidden" id="uspId">
	    <a id="uspName" class="nav-link dropdown-toggle ellipsis" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#f40;max-width:12.1rem" th:text="${uspName}"></a>
	    <div class="dropdown-menu" style="min-width:15rem;font-size:0.865rem;">
	    	<a href="#" class="dropdown-item usp-item" th:style="${uspId == null ? 'color:#f40' : ''}" onclick="uspSearch('', this)">
	    		<span href="#" class="usp-name">全部UPS</span><span class="usp-yes" th:text="${uspId == null ? '✔' : ''}"></span>
	    	</a>
	    	<a th:each="item:${uspList}" href="#" class="dropdown-item usp-item" th:style="${item.uspId == uspId ? 'color:#f40' : ''}" th:onclick="'uspSearch(' + ${item.uspId} + ', this)'">
	    		<span href="#" class="usp-name" th:text="${item.key}"></span><span class="usp-yes" th:text="${item.uspId == uspId ? '✔' : ''}"></span>
	    	</a>
	    </div>
    </div>
    <div class="nav-item dropdown">
		<input type="hidden" id="recommend">
	    <a id="recommendName" class="nav-link dropdown-toggle ellipsis" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#f40;max-width:12.1rem">全部推荐</a>
	    <div class="dropdown-menu" style="min-width:15rem;font-size:0.865rem;">
	    	<a href="#" class="dropdown-item recommend-item" style="display: flex;justify-content:space-between;color:#f40" onclick="recommendSearch('', this)">
	    		<span href="#" class="recommend-name">全部推荐</span><span class="recommend-yes">✔</span>
	    	</a>
	    	<a href="#" class="dropdown-item recommend-item" style="display: flex;justify-content:space-between;color:#f40" onclick="recommendSearch('5', this)">
	    		<span href="#" class="recommend-name">⭐⭐⭐⭐⭐</span><span class="recommend-yes"></span>
	    	</a>
	    	<a href="#" class="dropdown-item recommend-item" style="display: flex;justify-content:space-between;color:#f40" onclick="recommendSearch('4', this)">
	    		<span href="#" class="recommend-name">⭐⭐⭐⭐</span><span class="recommend-yes"></span>
	    	</a>
	    	<a href="#" class="dropdown-item recommend-item" style="display: flex;justify-content:space-between;color:#f40" onclick="recommendSearch('3', this)">
	    		<span href="#" class="recommend-name">⭐⭐⭐</span><span class="recommend-yes"></span>
	    	</a>
	    	<a href="#" class="dropdown-item recommend-item" style="display: flex;justify-content:space-between;color:#f40" onclick="recommendSearch('2', this)">
	    		<span href="#" class="recommend-name">⭐⭐</span><span class="recommend-yes"></span>
	    	</a>
	    	<a href="#" class="dropdown-item recommend-item" style="display: flex;justify-content:space-between;color:#f40" onclick="recommendSearch('1', this)">
	    		<span href="#" class="recommend-name">⭐</span><span class="recommend-yes"></span>
	    	</a>
	    </div>
    </div>
</div>
<div id="knowDiv"></div>
<div th:replace="common/fragment::mobileKnowPage"></div>
<div th:replace="repository/mobile/mobile/menu::nav('niceMenu')"></div>

</body>
</html>












