<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>个人知识库</title>
<link th:replace="common/fragment::mobile"/>
<script th:src="@{/static/cdn/template-3.0.0.js}" type="text/javascript" ></script>
<script type="text/javascript" th:inline="javascript">
var controllerPath = contextPath + "auto/mobile/";
var searchMethod = "listTodo";

$(function() {
	$('#form').submit(function (e) {
		queryPage(1);
	    e.preventDefault();
	    e.stopPropagation();
	})
});

function getQueryString(pageNumber) {
	return {pageSize:16,pageNumber:pageNumber,todoStatus:$("#todoStatus").val(),todoTitle:$("#todoTitle").val()};
}

function back() {
	location.href = "/auto/mobile/my";
}

function add() {
	location.href = "/auto/mobile/todo";
}

template.helper('getImportantColor', function(v) {
	if (v == 0) return "red";
	if (v == 1) return "orange";
	if (v == 2) return "blue";
})

template.helper('getEmergentColor', function(v) {
	if (v == 0) return "red";
	if (v == 1) return "orange";
	if (v == 2) return "blue";
})


function statusSearch(val, obj) {
	$(".status-item").css("color", "black");
	$(".status-yes").text("");
	
	$(obj).css("color", "#f40");
	$(obj).find(".status-yes").text("✔");
	$("#todoStatus").val(val);
	$("#todoStatusName").text($(obj).find(".status-name").text());
	queryPage(1);
}
</script>

<style type="text/css">
body {margin-top:2.9rem;margin-bottom:3rem}
.top-div {position:fixed;top:0;background-color:#f0f0f0;padding:.2rem 0;width:25.875rem;display:flex;justify-content:space-between; padding-left:0.5rem;padding-right:0.5rem;}
input::-webkit-input-placeholder {padding-top:0.175rem;}

.list-group-item {position:inherit;}
.row {padding-left:0.8rem;padding-right:0.8rem}

.dropdown-item {display: flex;justify-content:space-between;}
</style>
</head>

<body>
<div class="container" style="padding:0px;">

<div class="top-div">
	<div style="position:fixed; z-index:9999;opacity:0.5;margin-top:-0.4rem;margin-left:0.4rem;cursor:pointer;" id="backDiv">
		<div onclick="back();" style=""><span style="font-size: 2.2rem;" class="iconfont icon-fanhui5"></span></div>
	</div>
	
	<div class="nav-item dropdown" style="margin-left:3rem">
		<input type="hidden" id="todoStatus" value="1">
	    <a id="todoStatusName" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#f40;">待办</a>
	    <div class="dropdown-menu" style="min-width: 10rem">
	    	<a href="#" class="dropdown-item status-item" onclick="statusSearch('', this)">
	    		<span class="status-name">全部</span><span class="status-yes"></span>
	    	</a>
	    	<a href="#" class="dropdown-item status-item" style="color:#f40;" onclick="statusSearch(1, this)">
	    		<span class="status-name">待办</span><span class="status-yes">✔</span>
	    	</a>
	    	<a href="#" class="dropdown-item status-item" onclick="statusSearch(2, this)">
	    		<span class="status-name">已办</span><span class="status-yes"></span>
	    	</a>
	    </div>
    </div>
	
	<div>
		<form id="form" style="width:10rem;margin-left:0rem" action="javascript:;">
			<input type="search" id="todoTitle" class="form-control" placeholder="🔍">
		</form>
	</div>
	<div style="">
		<span class="iconfont icon-tianjia" onclick="add()" style="font-size:1.6rem;cursor: pointer;margin-right:0.5rem"></span>
	</div>
</div>

<ul class="list-group" id="knowDiv"></ul>
</div>



<script id="itemTemplate" type="text/html">
{{each list as v i}}
<li class="list-group-item" onclick="location.href='/auto/mobile/todo?id={{v.todoId}}'" style="cursor: pointer;">
	<div class="row" style="display: flex;justify-content:space-between;">
		<div>
			<div class="iconfont icon-zhongyaotixing_Pro" style="color:{{getImportantColor(v.todoImportant)}};font-size:0.865rem"></div>
			<div class="iconfont icon-weiwangguanicon-defuben-" style="color:{{getEmergentColor(v.todoEmergent)}};font-size:0.865rem;"></div>
		</div>
		<div style="width:20rem;height:2.6rem;" class="ellipsis2">{{v.todoTitle}}</div>
		<div>
			<div>
				{{if v.todoStatus == 1}}<div style="font-size:0.865rem; color:blue" class="iconfont icon-daiban-moren"></div>{{/if}}
				{{if v.todoStatus == 2}}<div style="font-size:0.865rem; color:green" class="iconfont icon-yiban-moren"></div>{{/if}}
				<div style="font-size:0.865rem;color:gray;" class="iconfont icon-xiangyou"></div>
			</div>
		</div>
  	</div>
</li>
{{/each}}
</script>
<script type="text/javascript" th:inline="javascript">
var pageHasMore = true;
var currentPageNumber = 1;
$(window).scroll(function() {
    if ($(this).scrollTop() + $(document).height() >= $(this).height() - 50) {
    	if (pageHasMore) {
    		pageHasMore = false;
    		currentPageNumber++;
    		$("#pageMsg div").hide();
    		$("#pageLoading").show();
    		queryPage(currentPageNumber);
    	}
    }
});
function queryPage(pageNumber) {
	$.post(controllerPath + searchMethod, getQueryString(pageNumber), function(r) {
		if (pageNumber == 1) {
			currentPageNumber = 1;
			$("#knowDiv").html(template("itemTemplate", r));
		}
		else {
			$("#knowDiv").append(template("itemTemplate", r));
		}
		
		$("#pageMsg div").hide();
		if (r.page.pageSize * r.page.pageNumber < r.page.totalRows) {
			pageHasMore = true;
			$("#pageMore").show();
		}
		else {
			$("#pageEnd").show();
		}
	});
}
function view(kId) {
	top.location.href = controllerPath + "view?id=" + kId;
}

var list = [[${list}]];
if (list == null) {
	alert("list不能为null");
}
$(function() {
	$("#knowDiv").append(template("itemTemplate", list));
	if (list.page.totalRows <= list.page.pageSize) {
		pageHasMore = false;
		$("#pageEnd").show();
	}
})
</script>
<div id="pageMsg">
	<div id="pageMore"><p>-- 上拉加载更多 --</p></div>
	<div id="pageLoading"><p>-- 加载中... --</p></div>
	<div id="pageEnd"><p>-- 暂时就这么多了 --</p></div>
</div>


</body>
</html>












